<app-section-form class="new-section" (requestCreateSection)="addSection($event)"></app-section-form>
<ng-container *ngIf="sectionsHasTasks$ | async as sections">
  <div class="sections">
    <div class="section" *ngFor="let section of sections">
      <div class="section-name">{{ section.name }}</div>
      <app-new-task-form (requestCreateTask)="addTask($event, section)"></app-new-task-form>
      <div *ngFor="let task of section.tasks">
        <app-task-card class="task" [task]="task" (requestClick)="deleteTask($event)"></app-task-card>
      </div>
    </div>
  </div>
</ng-container>
