:host {
  display: block;
}

.sections {
  display: flex;
}

.section {
  width: 280px;
  margin: 12px;
}

.section-name {
  font-size: 24px;
  margin-bottom: 12px;
}

.new-section {
  height: 24px;
  margin: 12px;
}

.task {
  margin-bottom: 12px;
}
