:host {
  display: block;
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 88px;
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  position: relative;
  box-sizing: border-box;
}

.task-name {
  margin-top: 8px;
  overflow-wrap: break-word;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}
