@import '../../../../../assets/styles/properties';

:host {
  display: block;
}

.login-button {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 48px;
  width: 480px;
  border: 1px solid;
  border-radius: 4px;
}

@media screen and (max-width: $p-breakpoint-xsmall) {
  :host {
    font-size: 12px;
    width: 80%;
  }

  .login-button {
    width: 100%;
  }
}
