:host {
  display: block;
}

.sections {
  display: flex;
}

.section {
  width: 280px;
  margin: 12px;
}

.section-name {
  font-size: 24px;
  margin-bottom: 12px;
}

.section-name-field {
  display: flex;
  justify-content: space-between;
}

.section-delete-button {
  height: 24px;
}

.new-section {
  height: 24px;
  margin: 12px;
}

.task-placeholder {
  min-height: 100px;
}

.task {
  margin-bottom: 12px;
}

.add-task-input {
  margin-bottom: 12px;
}

// NOTE: styling for CDK
//       ref. https://material.angular.io/cdk/drag-drop/overview#styling
.cdk-drag-placeholder {
  opacity: 0;
}
