<app-section-form class="new-section" (requestCreateSection)="addSection($event)"></app-section-form>
<ng-container *ngIf="sectionsHasTasks$ | async as sections">
  <div class="sections" cdkDropListGroup>
    <div class="section" *ngFor="let section of sections">
      <div class="section-name-field">
        <app-editable-section-name [name]="section.name" (editName)="changeSectionName($event, section)"></app-editable-section-name>
        <button class="section-delete-button" (click)="deleteSection(section)">削除</button>
      </div>
      <app-new-task-form class="add-task-input" (requestCreateTask)="addTask($event, section)"></app-new-task-form>
      <div
        class="task-wrapper"
        cdkDropList
        [cdkDropListData]="section.tasks"
        [attr.data-section-id]="section.id"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let task of section.tasks">
          <app-task-card class="task" [task]="task" (requestClick)="deleteTask($event)" cdkDrag></app-task-card>
        </div>
        <div class="task-placeholder"></div>
      </div>
    </div>
  </div>
</ng-container>
