:host {
  display: block;
}

.form {
  position: relative;
}

.error-message {
  position: absolute;
  top: -24px;
  width: 260px;
  padding: 0 8px;
}

.editable-section-name {
  font-size: 20px;
  margin-bottom: 12px;
  border: none;
}
